<h1>Eat-Da-Burger!</h1>

<h2>Ready to eat!</h2>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
      {{> eat-burger devoured=false}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Nom Nom Nom!</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
      {{> eat-burger devoured=true}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="inputBurger">Burger Name:</label>
    <input type="text" id="addBurger" name="name">
  </div>

  <button type="submit">Add Burger</button>
</form>
